* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none; 
}
body {
	background-image: url("bg.png");
	cursor: pointer;
}
#vListType:before {
	content: "";
	background-color: white;
	height: 3px;
	display: block;
	border-top: 3px solid blue;
	border-bottom: 3px solid red;
}

#vListType {
    margin-left: 350px;
}

#vListType li {
	display: inline-block;
	font-family: Arial;
	font-size: 26px;
	text-transform: uppercase;
	padding: 20px 10px;
	color: white;
	font-weight: bold;
}

#vListType li:hover {
	background-color: rgba(255,255,255,0.3);
}

#listType img{
	position: absolute;
	bottom: 0%;
	padding: 10px;
}

#listType {
	width: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.9);
}

#listCar {
	position: absolute;
	background-color: rgba(0,0,0,0.9);
	top: 8%;
}

#vListCar li {
	display: inline-block;
	font-family: Arial;
	font-size: 20px;
	text-transform: uppercase;
	padding: 10px 10px;
	color: white;
	font-weight: bold;
}

#vListCar li:hover {
	background-color: rgba(255,255,255,0.3);
}

#carPrice {
	bottom: 0%;
	position: absolute;
	height: 70px;
	width: 100%;
	background-color: rgba(0,0,0,0.9);
}