body
{
    margin: 0px;
    padding: 0px;
}

.backdrop
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    background-image: url(loadscreen.jpg);
    background-size: 100% 100%;
}


/*DAYNIGHT MODIFICATION*/
/*DAYNIGHT MODIFICATION*/
/*DAYNIGHT MODIFICATION*/
.infos {
  width: 700px;
  position: absolute;
  left: 5%;
  top: 20%;
  padding-left: 20px;
  color: #fff;
  font-family: Segoe UI;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.4);
}

.infos p {
  font-size: 20px;
}

/* Text rules config */ 
.text {
    display:none;  
    color:#FFF;
    font-family: "Segoe UI";
    background-color: rgba(226, 226, 226,0.3);
}

.fix p {
  font-size: 22px;  /* Size text of the rules */ 
  margin-left: 3px;
  padding: 3px 0px;
  margin-top: 0px;
}

.fix{
  position: absolute; 
  left: 5%;
  right: 5%;
  bottom: 9%;
  z-index: 5;
  color: #fff;
  font-family: "Segoe UI";
}
/*DAYNIGHT MODIFICATION*/
/*DAYNIGHT MODIFICATION*/
/*DAYNIGHT MODIFICATION*/


@font-face {
    font-family: 'BankGothic';
    src: url('bankgothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2 {
    position: relative;
    background: transparent;
    z-index: 0;
}


.letni
{
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 15%;
    z-index: 5;
    color: #fff;
    font-family: "Segoe UI";
}

.letni p
{
    font-size: 22px;
    margin-left: 3px;
    margin-top: 0px;
}

.letni h2, .letni h3
{
    font-family: "Segoe UI";
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
    margin: 0px;
    display: inline-block;
}

.loadbar
{
    width: 100%;
    background-color: rgba(140, 140, 140, .9);
    height: 20px;
    margin-left: 2px;
    margin-right: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
    display: block;
}

.thingy
{
    width: 10%;
    background-color: #eee;
    height: 20px;
    position: absolute;
    left: 10%;
}